<a href="{{ path('profile_main') }}" class="list-group-item list-group-item-action {{ app.current_route == 'profile_main' ? 'active' : '' }}">
  Accueil
</a>
<a href="{{ path('profile_categories_index') }}" class="list-group-item list-group-item-action {{ app.current_route == 'profile_categories_index' ? 'active' : '' }}">
  Mes catégories
</a>
