{% extends "base.html.twig" %}

{% block body %}
  <div class="list-group col-2">
    {% include "admin/partials/navbar.html.twig" %}
  </div>
  <div class="col-10">
    {{ form_start(form) }}
    {{ form_end(form) }}
  </div>
{% endblock body %}
