{% extends 'base.html.twig' %}

{% block body %}
  <div class="list-group col-2">
    {% include "admin/partials/navbar.html.twig" %}
  </div>
  <div class="col-10">
    <a class="btn btn-primary mb-3" href="{{ path('admin_questionnaires_index', {id: question.questionnaire.id}) }}">Retour</a>
    {{ form_start(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
