{% extends "base.html.twig" %}

{% block body %}
  <div class="col-12">
    <h1>Accès non autorisé</h1>
    <p>Vous n'avez pas les droits pour accéder à cette page.</p>
    <a href="{{ path('app_main') }}" class="btn btn-primary">Retour à l'accueil</a>
  </div>
{% endblock %}