{% extends "base.html.twig" %}

{% block body %}
  <div class="col-12">
    <h1>Page non trouvée</h1>
    <p>La page que vous recherchez n'a pas été trouvée.</p>
    <a href="{{ path('app_main') }}" class="btn btn-primary">Retour à l'accueil</a>
  </div>
{% endblock %}